h1{
   font-size: 56px;
   font-family:san-serif;new rocker
   
}

body
{background-color:#11ebff;} 
  
}

.darkblue {
color: darkblue; } 


  
border-color: navy;
border-radius: 10px;
width: 110px;
height: 70px;
p {
      font-   

}
   
   
button{
background-color: white;  
border-color: white;
border-radius: 10px;
width: 110px;
height: 70px;
