h1{
   
}

body{
background-color: color:{ #FF0000; }; 
  
}

.darkblue {
color: darkblue; } 

button{
background-color: blue
  
border-color: navy;
border-radius: 10px;
width: 110px;
height: 70px;

  
}
