h1{
font-family: "Times New Roman", Times, serif;  
}

body{
background-color: white; 
  
}

.darkblue {
color: darkblue; 
font-family: "Times New Roman", Times, serif;
font-style: italics;
} 

button{
background-color: white;  
border-color: navy;
border-radius: 10px;
width: 110px;
height: 70px;

  
}

button:hover{
background-color: powderblue;  
border-color: navy;
border-radius: 10px;
width: 115px;
height: 75px;
}

.div{
 background-color: lightblue; 
}

