

body{
background-color: 8fb7f7; 
  
}

.darkblue {
color: darkblue; 
font-family: Times New Roman, Times, serif;
font-style: italic;
} 

button{
background-color: white;  
border-color: navy;
border-radius: 10px;
width: 110px;
height: 70px;

  
}

button:hover{
background-color: powderblue;  
border-color: black;
border-radius: 10px;
width: 115px;
height: 75px;
}

.top{
 background-color: lightblue; 
}

