h1{
  
}

body{
background-color: white; 
  
}

.darkblue {
color: darkblue; } 

button{
background-color:#2f11b2 rgb(47, 17, 178) blue;  
border-color: navy;
border-radius: 10px;
width: 110px;
height: 70px;

  
}
